# imputer
autoimpute

# scanpy related
cython
h5py
click
cmake
MulticoreTSNE 
phate 
fa2 
magic-impute 
bbknn
loompy

# parameter tuning
optuna

# docs
sphinx
sphinx-rtd-theme

# test
pytest

# pymo3
dlib