django
django-plotly-dash 
django-pandas 
numpy 
pandas 
scipy 
scikit-learn 
biopython 
plotly 
dash
dash-bio
psycopg2 
pyper 
umap-learn 
skggm 
optuna 
statsmodels 
upsetplot 
networkx